<li>
  <label class='checkbox'>
    <input type='checkbox' id='<%= rangeId %>' class='range-facet' data-term='<%= rangeId %>'>
    <%= (range.from || 0) %><%= (range.to ? '-' + range.to : '+') %> (<%= range.count %>)
  </label>
</li>
