<li>
  <label for='<%= termId %>'><%= term.term %> (<%= term.count %>)</label>
  <input type='checkbox' id='<%= termId %>' class='term-facet' value='<%= termId %>' data-term='<%= term.term %>' <%= term.selected ? "checked='checked'" : "" %>>
</li>
