<li>
  <label class='checkbox'>
    <input type='checkbox' id='<%= termId %>' class='facet-item' data-item='<%= index %>' <%= term.selected ? "checked='checked'" : null %> >
    <%= term.term %> (<%= term.count %>)
  </label>
</li>
